<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Homework</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f58b749f86.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class = "navbar">
        <div class = "nav-title"> Not just lorem </div>
        <a href="#" class="toogle-btn">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li> <a href="index">Home</a></li>
                <li> <a href="about">About</a></li>
                <li> <a href="register">Register</a></li>
                <li> <a href="login">Log in</a></li>
                <li><a href="logout">Logout!</a></li>
            </ul>
        </div>
    </nav>

    <section class = "hero">
        <div class="background-image" style="background-image: url(img/typewriter-1726000_960_720.jpg); background-position: bottom;"></div>
        <div class="hero-content-area">
            <h1>Where did it came from?</h1>
        <h3>It's easy to get an idea and waste a lot of time on doing that</h3>
        <p> </p>
      </div>
    </section>

    <section class="ipsum" >
        <h3 class="title">What was the task</h3>
        <p>The main goal is learn how to manipulate forms</p>
        <hr>
    
        <ul class="grid">
          <li>
            
            <h4>Task 1</h4>
            <p> 
                Create 2 new pages: authorization and registration. Add links from the previous task</p>
          </li>
          <li>
            
            <h4>Task 2</h4>
            <p> 
                Make a form on the authorization page. user must log in using an e-mail and a password. All fileds of the form must be filled.
            </p>
          </li>
          <li>
        
            <h4>Task 3</h4>
            <p> 
                Make a registration form on the registration page. To register a user must fill out: login, e-mail, password, password confirmation. 
                Optional : load an image. Min max values of the fields are required. 
            </p>
          </li>
          </ul>
    </section>
    <footer>
        <p>All images are from <a href="https://pixabay.com/"> Pixabay </a>.</p>
        <p>Are reading a footer? Seriously ? </p>
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
      </footer>
    <script src="app.js"> </script>
</body>
</html>