<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Homework</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f58b749f86.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class = "navbar">
        <div class = "nav-title"> Not just lorem </div>
        <a href="#" class="toogle-btn">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li> <a href="index">Home</a></li>
                <li> <a href="about">About</a></li>
                <li> <a href="register">Register</a></li>
                <li> <a href="login">Log in</a></li>
                <li><form action="/logout?_method=DELETE" method="POST" id = 'my_form'>
                  <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false">Log Out</a>
                </form></li>
            </ul>
        </div>
    </nav>

    <section class = "hero">
        <div class="background-image" style="background-image: url(img/typewriter-1726000_960_720.jpg); background-position: bottom;"></div>
        <div class="hero-content-area">
            <h1>Ipsum is not just lorem</h1>
        <h3>The best collection of gibberish</h3>
        <a href="register" class="btn">Get your own</a>
      </div>
    </section>

    <section class="ipsum" >
        <h3 class="title">Just think of it</h3>
        <p>You've heard a lot about lorem ipsum, but in a meanwhile other types of text is not so known. Learn more about ipsums and never limit yourself</p>
        <hr>
    
        <ul class="grid">
          <li>
            <i class="fas fa-glasses fa-4x"></i>
            <h4>Hipster inpsum</h4>
            <p>Umami activated charcoal roof party tote bag unicorn, lyft keytar tofu microdosing glossier jianbing waistcoat farm-to-table synth. Stumptown hoodie prism thundercats mlkshk tofu meggings. Mustache seitan health goth pork belly gluten-free. Pork belly banh mi leggings tbh distillery. Food truck hoodie XOXO, bicycle rights literally occupy knausgaard cold-pressed ramps 90's organic letterpress.</p>
          </li>
          <li>
            <i class="fas fa-drumstick-bite fa-4x"></i>
            <h4>Bacon ipsum</h4>
            <p>Bacon ipsum dolor amet andouille turkey jowl strip steak drumstick meatball pork chop turducken landjaeger doner picanha shoulder. Shankle ribeye ground round salami shank beef short loin drumstick frankfurter spare ribs. Brisket frankfurter meatloaf short loin pork, ground round cow jerky t-bone. </p>
          </li>
          <li>
            <i class="fas fa-birthday-cake fa-4x"></i>
            <h4>Cupcake ipsum</h4>
            <p>Cupcake ipsum dolor sit amet icing candy canes topping. Pudding carrot cake soufflé. Macaroon marzipan sweet oat cake tiramisu jujubes. Pudding liquorice caramels marshmallow liquorice jujubes dragée cupcake. Gummies apple pie candy lemon drops cake halvah cotton candy cookie cheesecake.</p>
          </li>
          <li>
            <i class="fas fa-satellite fa-4x"></i>
            <h4>Space ipsum</h4>
            <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before. Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.</p>
          </li>
        </ul>
      </section>

    <footer>
        <p>All images are from <a href="https://pixabay.com/"> Pixabay </a>.</p>
        <p>Are reading a footer? Seriously ? </p>
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
      </footer>
<script src="app.js"> </script>
</body>
</html>