<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Homework</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f58b749f86.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class = "navbar">
        <div class = "nav-title"> Not just lorem </div>
        <a href="#" class="toogle-btn">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li> <a href="index">Home</a></li>
                <li> <a href="about">About</a></li>
                <li> <a href="register">Register</a></li>
                <li> <a href="login">Log in</a></li>
                <li><form action="/logout?_method=DELETE" method="POST" id = 'my_form'>
                  <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false">Log Out</a>
                </form></li>
            </ul>
        </div>
    </nav> 
<section> 
<h1> Hi, <%= name %> ! </h1>
</section>
    <script src="app.js"> </script>
</body>
</html>