<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Homework</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f58b749f86.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class = "navbar">
        <div class = "nav-title"> Not just lorem </div>
        <a href="#" class="toogle-btn">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li> <a href="index.html">Home</a></li>
                <li> <a href="about.html">About</a></li>
                <li> <a href="register.html">Register</a></li>
                <li> <a href="login.html">Log in</a></li>
            </ul>
        </div>
    </nav> 

    <script src="app.js"> </script>
</body>
</html>